#navbar{
	width: 100%;
}

.topbar{
	background-image: url("../images/background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

#logo{
	margin-left: 10%;
}

ul.nav{  
	list-style: none;  
	padding: 2px;
	background-color: grey;
	color: black;
	background-size: cover;

} 

ul.nav li{  
	display: inline; 
}

.my-button{  
	padding: 10px 12px;  
	border: 1px solid aqua;  
	color: aqua;  
	background-color: blue;  
	text-decoration: none;  
	display: inline-block;  
	border-radius: 5px; 
} 


a:hover{
	text-decoration: none;
	background-color: black;
	color: white;
}

a:visited{
	text-decoration: none;
	color: blue;
}

.my-button:hover{  
	margin: 2px 0 0 2px;
	background-color: white; 
}

.form_elements{  
	padding: 4px;  
	font-size: 1.5em;  
	font-family: "Arial", 
	sans-serif; 
}

.form_label{
	color: blue;
	background-color: white;
}

footer{
	margin-top: 90%;
}
.left, .right{
	float:left;
	width: 50%;
}
.img{
	float: left;
	width: 50%;
}

